.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button{
  background-color: #FFD333;
  border: none;
  width: 170px;
  height: 20px;
  border-radius: 3px;
  font-weight: 700;
}

.App{
  display: flex;
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
}

.signUpImg{
  position: relative;
  width: 250px;
  height: 250px;
}

.signUpImg2{
  width: 100px;
  height: 100px;
  transform: translate(-175%, -70%);
}

.sigUp{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.signUpText{
  font-size: 20px;
  transform: translate(-15%, -950%);
}