.CartForm{
    margin-top: 10px;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
}

.CartName{
    display: flex;
    margin-left: 20px;
}

.CartItem{
    height: 350px;
    width: auto;
    margin: 2px 8px;
    display: inline-block;
    border: 1px solid gray;
}

.CartContent{
    padding: 5px;
    display: inline-block;
    margin: 10px;
}

.CartPrice{
    margin-left: 20px;
}

.CartDiscount{
    display: flex;
    color: red;
    transform: translate(130px,-43px);
}